<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeoflow.depot.dispatcher.runtime">
    <application>
        <provider
            android:name="com.zeoflow.depot.dispatcher.InitProvider"
            android:authorities="${applicationId}.Initializer"
            android:exported="false"
            android:initOrder="100" />
    </application>
</manifest>